form.fullscreen-form{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1039;
    left: 0;
    top: 0;
    background-color: #111111;
    overflow-x: hidden;
    transition: 0.5s;
    margin:0;
    padding: 0;
    color: #FFFFFF;
}
form.fullscreen-form .active {
	position: relative;
    text-align: left; /* Centered text/links */
    z-index: 1040;
    margin: 0 auto;
    width: 50%;
	top:25%;
	display: block;
}	
form.fullscreen-form .deactivate{
    display: none;
}

